body {
    margin: 0 auto;
    background-color: #040405;

    font-family: 'poppins', sans-serif;
}

/* Navbar CSS */

.space-between {
    height: 10em;
}

.sticky {
    position: fixed;
    width: 100%;
    top: 0;
}

.navbar h2 {
    margin-left: 5%;
}

.navbar ul {
    list-style-type: none;
}

.navbar ul li {
    display: inline-block;
    margin: 10px 20px;
}

.navbar ul li a {
    color: #f5f5f6;
    text-decoration: none;
    font-size: 1.2em;
}

.table_contents {
    display: flex;
    justify-content: space-around;

    margin-right: 3em;
}

.navbar {
    /* background-color: #1d2026; */
    height: 5em;

    color: white;
    font-family: 'poppins', sans-serif;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 10px, 10%;
}

.navbar img {
    width: 3em;
    height: 3em;
}

.green {
    background-color: green;
}
.blue {
    background-color: rgb(30, 98, 226);
}

.grey {
    background-color: rgba(128, 128, 128, 0.2);
    border-radius: 5px;
}

/* Introduction */

.Intro {
    color: white;
    height: 30em;
    display: flex;
}

.about-me-text {
    margin-top: 5%;
    margin-left: 5%;
}

.about-me-text .job{
    font-size: 30px;
}

.about-me-text .intro{
    font-size: 50px;
}

.signature-color {
    color: #156acc;
}

.half-container {
    flex: 1;
    overflow: hidden;
}

/* About Me */

.About_Me {
    color: white;
    display: flex;
    height: 20em;
}

.about {
    margin-left: 5%;
    margin-right: 5%;
}

.about h1 {
    margin-left: 5%;
}

.about p {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1.1em;
    line-height: 1.5;
}


.tabs {
    margin-left: 5%;
    margin-right: 5%;
}

.col {
    flex: 1;
}

.col:hover {
    box-shadow:rgba(110, 110, 110, 0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

.tab-title {
    display: flex;
    margin-left: 5%;
}

.tab-link {
    margin-right: 50px;
    font-size: 1.2em;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-link::after {
    content: '';
    width: 0;
    height: 3px;
    background: #156acc;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-link.active_link::after {
    width: 50%;
}

/* tab content */

.tab-content {
    display: none;
}

.tab-content.active_content {
    display: block;
    font-size: 1.1em;
    line-height: 1.3;
}

.tab-content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 5%;
}

/* Projects */

.Projects h2 {
    color: white;
    text-align: center;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    width: 80%;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 20px;
}

.project-box {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 30em;
    margin: 20px;
}

.project-box:hover {
    background-color: #10334a;
    -webkit-box-shadow:rgba(69, 68, 68, 0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(69, 68, 68, 0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(69, 68, 68,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(69, 68, 68, 0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

.project-box img {
    width: 100%;
    height: 60%;
    border-radius: 10px 10px 0 0;
    display: block;
}

.overlay {
    height: 40%;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(21, 106, 204, 0.3));
    border-radius: 0 0 10px 10px;
    color: white;
}

.overlay-text {
    margin-left: 5%;
    margin-right: 5%;
}

.taglist {
    display: flex;
    flex-wrap: wrap;
}

.taglist .tag {
    background-color: rgba(39, 39, 39, 0.5);
    border-radius: 5px;
    border: 1px solid #040405;
    margin: 0px 10px 5px 0px;
    padding: 4px;
}

.Contact_Me h2 {
    text-align: center;
    color: white;
}

.Contact_Me .icons {
    display: flex;
    justify-content: center;
}

.Contact_Me .icon {
    border-radius: 10px;
    margin: 20px 20px 20px 20px;
}

.icon:hover {
    box-shadow:rgba(110, 110, 110, 0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

/* hover effect for navbar
.navbar:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}
 */